$gameboard-header-height: 25%;

$gameboard-column-width: 14%;
$gameboard-padding-width: 1%;
$gameboard-tile-height: 11%;

$gameboard-short-rows: 8;
$gameboard-tall-rows: 9;

$gameboard-tile-font-size: 16px;

.gameboard {
	&.header {
		height: $gameboard-header-height;
	}

	&.play-area {
		height: 100% - $gameboard-header-height;
		font-size: 0; // Css trick for display: inline-block elements
		padding-bottom: 3px; // Game board padding for bottom edge

		// All columns and column padding
		> div {
			display: inline-block;
			vertical-align: bottom;
		}

		// All columns
		.column {
			width: $gameboard-column-width;
			font-size: initial;
			overflow: hidden;
			border-bottom: 1px solid $default-border-color;

			// All Tiles
			> div {
				text-align: center;
				vertical-align: middle;
				border-top: 1px solid $default-border-color;

				&::before {
					content: '';
					width: 0;
					height: 100%;
					display: inline-block;
					vertical-align: middle;
				}

				&.selected {
					background-color: #333;
				}
			}

			// Tall columns
			&:nth-child(odd) {
				height: $gameboard-tile-height * $gameboard-tall-rows;
				border-left: 1px solid $default-border-color;
				border-right: 1px solid $default-border-color;

				// All tall column tiles
				> div {
					height: 100% / $gameboard-tall-rows;
				}
			}

			// Short columns
			&:nth-child(even) {
				height: $gameboard-tile-height * $gameboard-short-rows;
				margin: $gameboard-tile-height / 2 0;

				// All short column tiles
				> div {
					height: 100% / $gameboard-short-rows;
				}
			}

			// First column
			&:nth-child(2) {
				border-left: 1px solid $default-border-color;
			}

			// Last column
			&:nth-last-child(2) {
				border-right: 1px solid $default-border-color;
			}
		}
		.padding {
			width: $gameboard-padding-width;
			height: 100%;
		}
	}
}
