.menu {
	&.title {
		height: 33%;
		text-align: center;
	}

	&.content {
		height: 67%;
		overflow: auto;
		text-align: center;

		.links {
			width: 100%;
		}

		h2 {
			font-weight: normal;
			padding: 12px 0;

			&:hover {
				background-color: #CFCFCF;
			}
		}
	}

	.divider {
		height: 1px;
		background-color: #999;
		width: 10%;
		margin: 0 auto;
	}
}