
// Light theme
//$default-border-color: #DCE4EC;
//$default-background-color: #ECECEC;
//$default-color: #2C3E50;
//
//$default-disable-background-color: #BAC4C5;

// Dark theme
$default-border-color: #003757;
$default-background-color: #1F1F1F;
$default-color: #6c94b7;

$default-disable-background-color: #BAC4C5;
