
// Light theme
//$default-border-color: #DCE4EC;
//$default-background-color: #ECECEC;
//$default-color: #2C3E50;
//
//$default-disable-background-color: #BAC4C5;

// Dark theme
$default-border-color: #003757;
$default-background-color: #1F1F1F;
$default-color: #6c94b7;

$default-disable-background-color: #BAC4C5;

$animation-style: cubic-bezier(0.3, 0.3, 0.02, 1);
$animation-time-relax: 0.6s;
$animation-time-responsive: 0.3s;
