// common rules
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	margin: 0;
	padding: 0;
}

body,
html,
#main,
#main > div {
	height: 100%;
	width: 100%;
}

body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: #ECECEC;
}

// Landscape default
@import 'portrait/splash';
@import 'portrait/gameboard';

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
	.app {
		background-color: #ECECEC;
	}
}
