@import 'variables';

// common rules
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url(fonts/Raleway.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body,
html,
#main,
#main > div {
	height: 100%;
	width: 100%;
}

body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family: Raleway, serif;
	background-color: $default-background-color;
	color: $default-color;
	font-size: 16px;
}

.v-aligner {
	height: 100%;
	display: inline-block;
	width: 0;
	vertical-align: middle;
}
.v-aligned {
	display: inline-block;
	vertical-align: middle;
}

// Landscape default
@import 'portrait/menu';
@import 'portrait/splash';
@import 'portrait/gameboard';

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
	.app {
		background-color: $default-background-color;
	}
}
