* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(fonts/Raleway.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body,
html,
#main,
#main > div {
  height: 100%;
  width: 100%; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: Raleway, serif;
  background-color: #1F1F1F;
  color: #6c94b7;
  font-size: 16px; }

.v-aligner {
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle; }

.v-aligned {
  display: inline-block;
  vertical-align: middle; }

.menu.title {
  height: 33%;
  text-align: center; }
.menu.content {
  height: 67%;
  overflow: auto;
  text-align: center; }
  .menu.content .links {
    width: 100%; }
  .menu.content h2 {
    font-weight: normal;
    padding: 12px 0; }
    .menu.content h2:hover {
      background-color: #CFCFCF; }
.menu .divider {
  height: 1px;
  background-color: #999;
  width: 10%;
  margin: 0 auto; }

.gameboard.header {
  height: 25%; }
.gameboard.play-area {
  height: 75%;
  font-size: 0;
  padding-bottom: 3px; }
  .gameboard.play-area > div {
    display: inline-block;
    vertical-align: bottom; }
  .gameboard.play-area .column {
    width: 14%;
    font-size: initial;
    overflow: hidden;
    border-bottom: 1px solid #003757; }
    .gameboard.play-area .column > div {
      text-align: center;
      vertical-align: middle;
      border-top: 1px solid #003757;
      -webkit-transition: opacity 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), height 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      -moz-transition: opacity 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), height 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      transition: opacity 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), height 0.3s cubic-bezier(0.3, 0.3, 0.02, 1); }
      .gameboard.play-area .column > div::before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle; }
      .gameboard.play-area .column > div.selected {
        background-color: #333; }
      .gameboard.play-area .column > div.animate-out {
        opacity: 0;
        height: 0 !important; }
    .gameboard.play-area .column:nth-child(odd) {
      height: 99%;
      border-left: 1px solid #003757;
      border-right: 1px solid #003757; }
      .gameboard.play-area .column:nth-child(odd) > div {
        height: 11.11111%; }
    .gameboard.play-area .column:nth-child(even) {
      height: 88%;
      margin: 5.5% 0; }
      .gameboard.play-area .column:nth-child(even) > div {
        height: 12.5%; }
    .gameboard.play-area .column:nth-child(2) {
      border-left: 1px solid #003757; }
    .gameboard.play-area .column:nth-last-child(2) {
      border-right: 1px solid #003757; }
  .gameboard.play-area .padding {
    width: 1%;
    height: 100%; }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .app {
    background-color: #1F1F1F; } }

/*# sourceMappingURL=index.css.map */
